body {
    background-color: violet;
}

p {
    font-family: "Microsoft YaHei", sans-serif;
    color: #000;
    text-align: center;
}

.normal {
    font-weight: normal;
}

.thick {
    font-weight: bold;
}

.wired {
    text-decoration: Underline;
}

.shadow {
    text-shadow: 4px 4px 2px #947fff;
}

.chapter {
    font-weight: bold;
    text-decoration: underline;
    text-shadow: 2px 2px 0px grey;
}
