* {
    padding: 0px;
    margin: 0px;
    /*float: contour;*/
}

body {
    font-family: "Microsoft YaHei",sans-serif ;
    background-color: #fffdf9;
}

.content1 {
    width: 80%;
    height: 230px;
    background-color: #ffc883;
    text-align: center;
    /*padding: 10px;*/
    margin: 0 auto 0 auto;
}

.content2 {
    width: 80%;
    height: 230px;
    background-color: #ffcda9;
    text-align: center;
    /*padding: 10px;*/
    margin: 0 auto 0 auto;
}

.content3 {
    width: 80%;
    height: 230px;
    background-color: #ffe2d1;
    text-align: center;
    /*padding: 10px;*/
    margin: 0 auto 0 auto;
}